*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body{
    height: 200vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;

}

   a{
    
    align-items: center;
    justify-content: start;
  
    color: white;
    text-decoration: none;
    
}




      .navbar{
          width: 100%;
          background-color: white;
        margin-bottom: 35px;
       
           
        
          
      }


.location,
.Number_of_infected
{ 
    height: 30vh;
    width: 50%;
    display: flex;
    flex-direction:column;
    flex: 1;
    margin:auto;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 8vh;
  
}


.total-cases{
    color: whitesmoke;
    font-style: normal;
    padding-bottom: 5vh;
   
}

.total-deaths {
   color: rgb(161, 15, 15);
}


.total-recovered{

    color: rgb(182, 228, 17);
    text-align: center;
    padding-bottom: 5vh;
    font-size: 35px;

}



.Number_of_infected{
    
    font-size: 25px;
    
}






.number-of-people{

    display:flex;
    align-items: center;
    cursor: pointer;
    padding-bottom: 2vh;
   
}

.number-of-people span{
    margin: auto;
    font-size: 30px;
    
}

.number-of-people h2{

    font-size: 40px;

}
  




.infected-description{
    margin: auto;
    width: 50%;
    align-items: center;
    display: flex;
    flex:1;
    justify-content: space-around;
    color: rgb(182, 228, 17);
    padding-bottom: 5vh;
}



.table{
    
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        overflow-y: visible;
        overflow-x: scroll; 
        border: 1px solid #ddd;
        color: white;
        align-items: center;
        justify-content: space-around;
        flex: 1;
        flex-direction: column;
   
       
    
     
       
     
        
      }
          
      th, td {
          margin: auto auto;
        text-align: center;
        padding: 8px;
        
      }


      th{
          background-color: white;
        position: sticky;
        top:0;
        opacity: 1;
      }

      .bg-info{
         
          background-color: white;
          color: black;
      }

      
      
.data {
   
       align-items: center;
      
       font-size: 20px;
       height: scroll;
       overflow-y: visible;
       overflow-x: scroll;
       width: 60%;
       margin: auto;
      
   
}      



.container{
  
    display: flex;
    height: 20vh;
    flex:1;
    width: 50%;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    font-size: 15px;
}

.loc_bangladesh{
    text-align: center;
    color:rgb(182, 228, 17)
}

.new_cases{
    color: rgb(0, 0, 0);
    text-align: center;

}


.all_deaths{
    color: rgb(161, 15, 15);
    text-align: center;
    
}


.bd{
    border:  1px solid #ddd;
    border-radius:  25px;
    padding: 5px;

}

.active{

    border:  1px solid #ddd;
    border-radius:  25px;
    padding: 5px;


}


.totalDeath{

    border:  1px solid #ddd;
    border-radius:  25px;
    padding: 5px;

}

.card-body h4{ 
                color: black;
                text-align: center;
                padding: 5px 5px 5px 5px;
                height: 5px;
                font-family: sans-serif;
                font-weight: bold;
            }


@media screen and (max-width:1024px){
        
         .location{
            
             margin-top: 2vh;
             text-align: center;
             flex:1;
            
         }
        
         .Number_of_infected{
            padding: 2vh;
            text-align: center;
            padding-bottom: 5vh;
            flex:1;
         }

         .worldwide{
            
           
             text-align: center;
             padding-bottom: 2vh;
             flex:1;
         }

         .bd{
             font-size: 10px;
             text-align: center;
             
             padding-left: 5vh;
             flex:1;
         }
         .active{

            font-size: 10px;
            padding-left: 2vh;
            padding-right: 2vh;
            text-align: center;
            flex:1;

         }

         .totalDeath{

            font-size: 10px;
            flex:1;
            text-align: center;
            padding-right: 2vh;
         

         }

         

         .data{
            
             width: auto;
             height: auto;
             font-size: 10px;
             text-align: center;
             overflow-y: visible;
             overflow-x: scroll; 
             padding-top: 5vh;
             flex:1;
          
             
         }
    
          .table{

            overflow-y: visible;
            overflow-x: scroll; 
               

         }

         .header{
             margin: auto;
             text-align: center;
             font-size: 25px;
         }

       
}
