*{
    margin:0;
    padding:0;
    box-sizing: content-box;
}


body{
    height: 150vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;

}


.location,
.Number_of_infected,
.worldwide{ 
    height: 20vh;
    width: 50%;
    display: flex;
    flex: 1;
    margin:auto;
    justify-content: space-around;
    align-items: center;
  
}

.Number_of_infected{
    flex-direction: column;
    font-size: 30px;
    
}







.number-of-people{

    display:flex;
    align-items: center;
    cursor: pointer;
   
}

.number-of-people span{
    margin: auto;
    font-size: 30px;
}

.number-of-people h2{

    font-size: 40px;

}
  




.infected-description{
    margin: auto;
    width: 50%;
    align-items: center;
    display: flex;
    flex:1;
    justify-content: space-around;
}

.table{
    
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        color: white;
        align-items: center;
        justify-content: space-around;
   
       
    
     
       
     
        
      }
          
      th, td {
          margin: auto auto;
        text-align: center;
        padding: 8px;
      }
      
.data {
   
       align-items: center;
       justify-content: space-around;
       font-size: 15px;
       height: 75vh;
       overflow-y: auto;
       width: 50%;
       flex: 1;
      
   
}      







/*
.new_cases{
 
    display: flex; 
    justify-content: space-around;
    align-items:center;
    flex-direction: column;

    font-size: 25px;
    flex: 1;
   
}

*/


.container{
  
    display: flex;
    height: 70vh;
    flex:1;
    width: 50%;
    flex-direction:column;
    align-items:center;
    justify-content: space-around;
    font-size: 15px;
}
